<div>
    <h1>View 2 Customer - Sort by City</h1>
    Name
    <input type="text" ng-model="Customername">
    </br>
    <ul>
        <li ng-repeat="cust in Customer | filter:Customername | orderBy :'city'">{{cust.name}} - {{cust.city}}

        </li>
    </ul>

    <br />
    <br />
    New Customer Name :
    <input type="text" ng-model="NewCustomer.name" />
    <br />
    <br />
    New Customer City :
    <input type="text" ng-model="NewCustomer.city" />
    <br />
    <br />
    <input type="button" ng-click="AddCustomer()"> Add Customer </input>

</div>
